<div class="container">
  <div class="row">

    <div class="col-12 mb-3 mb-lg-5">
      <div class="overflow-hidden card table-nowrap table-card">
        <div class="card-header d-flex justify-content-between">
          <!-- <a class="nav-link" (click)="onOpenModal(null, 'add')"><i class="fa fa-plus-circle fa-5"></i><span -->
              <!-- class="sr-only">(current)</span></a> -->

          <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchMonsters(key.value)" #key="ngModel" ngModel name="key"
              id="searchName" class="form-control mr-sm-2" placeholder="Search monsters..." required>
          </form>

        </div>
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="small text-uppercase bg-body text-muted">
              <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Language</th>
                <th>Owned</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let monster of monsters" class="align-middle">
                <td>
                  <div class="d-flex align-items-center">
                    <img src="{{monster?.imageUrl}}" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Image">
                    <div>
                      <div class="h6 mb-0 lh-1">{{monster?.name}}</div>
                    </div>
                  </div>
                </td>
                <td>{{monster?.size}}</td>
                <td>{{monster?.lang}}</td>
                <td>{{monster?.owned}}</td>
                <td class="text-end">
                  <div class="float-right btn-group btn-group-sm">
                    <a (click)="onOpenModal(monster, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                      data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                    <a (click)="onOpenModal(monster, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                      data-original-title="Delete"><i class="fa fa-times"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Add Monster Modal -->
<div class="modal fade" id="addMonsterModal" tabindex="-1" role="dialog" aria-labelledby="addMonsterModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMonsterModalLabel">Add Monster</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddMonster(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="imageUrl">imageUrl</label>
            <input type="imageUrl" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="imageUrl">
          </div>
          <div class="form-group">
            <label for="size">size</label>
            <input type="text" ngModel name="size" class="form-control" id="size" placeholder="size">
          </div>
          <div class="form-group">
            <label for="lang">lang</label>
            <input type="text" ngModel name="lang" class="form-control" id="lang" placeholder="lang">
          </div>
         
          <div class="modal-footer">
            <button type="button" id="add-monster-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<!-- <div class="modal fade" id="updateMonsterModal" tabindex="-1" role="dialog" aria-labelledby="monsterEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateMonsterModalLabel">Edit Monster {{editMonster?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editMonster?.name}}" name="name" class="form-control" id="name"
              aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{editMonster?.id}}" name="id" class="form-control" id="id"
            placeholder="Email">
                   <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" ngModel="{{editMonster?.email}}" name="email" class="form-control" id="email"
              placeholder="Email">
          </div>
          <div class="form-group">
            <label for="phone">Job title</label>
            <input type="text" ngModel="{{editMonster?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle"
              placeholder="Job title">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" ngModel="{{editMonster?.phone}}" name="phone" class="form-control" id="phone"
              name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="phone">Image URL</label>
            <input type="text" ngModel="{{editMonster?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl"
              placeholder="Image URL">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdateMonster(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<!-- Delete Modal -->
<!-- <div class="modal fade" id="deleteMonsterModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Monster</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete monster {{deleteMonster?.name}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeleteMonster(deleteMonster?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- Notification for no monsters -->
<div *ngIf="monsters?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Monsters were found.</p>
  </div>
</div>